.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width : 992px) {
	.form-horizontal .control-label {
	    text-align: left;
	    margin-bottom: 0;
	    padding-top: 0px;
	}
}

.form-horizontal .control-label {
	padding-top: 0px;
}